In [1]:
from src.data_loader import load_california_housing
from src.pipeline import build_pipeline, train_and_evaluate
from src.preprocessing import split_data,handle_outliers, remove_multicolinearity, evaluate_train_test

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=load_california_housing()
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [3]:
pipeline=build_pipeline()

In [4]:
df_copy=df.copy()

df_copy_handle_outliers=handle_outliers(df_copy)

removed_df=remove_multicolinearity(df_copy_handle_outliers)

df_final=df[removed_df.columns.tolist()+ ["MedHouseVal"]]

Eliminado Longitude con VIF = 757.37
Eliminado AveRooms con VIF = 49.10
Eliminado Latitude con VIF = 43.04
Eliminado AveOccup con VIF = 12.07

In [5]:
X_train,X_test,y_train,y_test=split_data(df_final)

In [6]:
metrics,trained_pipeline=train_and_evaluate(pipeline,X_train,X_test,y_train,y_test)

In [7]:
print(metrics)

{'MSE': 0.6607137187894276, 'RMSE': 0.812842985323382, 'R2': 0.49579579370985893}

In [8]:
metrics,y_predict_train, y_predict_test= evaluate_train_test(pipeline,X_train,X_test,y_train,y_test)

In [9]:
print(metrics)

{'Train': {'MSE': 0.6497472076383095, 'RMSE': 0.8060689844165383, 'R2': 0.5139453935529438}, 'Test': {'MSE': 0.6607137187894276, 'RMSE': 0.812842985323382, 'R2': 0.49579579370985893}}

In [ ]:
def plot_y_true_vs_y_predict(y_true,y_predict,title="y_true vs y_predict"):
    plt.figure(figsize=(6,6))
    plt.scatter(y_true,y_predict,alpha=0.4,color="blue", label="predicciones")
    plt.plot([y_true.min(),y_true.max()],
             [y_true.min(), y_true.max()],
             color="red", linestyle="--", label="ideal")
    plt.xlabel("Valores reales (y_true)")
    plt.ylabel("Valores predichos (y_pred)")
    plt.title(title)
    plt.legend()
    plt.show()